@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}



@media (min-width: 768px) {

    /* Home tablet*/

        .banner{
            height: 80vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
                url("../img/banner.jpg");
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .titulo_banner{
            font-size: 50pt;
        }

        .artscom{
            text-transform: uppercase;
            font-size: 50pt;
        }

        .logo {
            float: left;
        }
        .logo img{
        width: 200px;
        height: 50px;
        }
        
        .rodape{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;  /* tamanho do vermelho*/
            background-color: rgb(0, 0, 0);   /* cor de fundo*/
        }
        
        /* escrito*/
        .rodape p{
            font-size: 10pt;
            color: #fff;
        }

        .botao_banner{
            background-color: #800000 !important;
            color: #fff !important;
        }

  /* Fim do css Home tablet*/
  }

  @media (min-width: 1024px) {

    /* Menu */

    .artscom{
        text-transform: uppercase;
        font-size: 50pt;
    }

    .logo {
        float: left;
    }
    .logo img{
    width: 200px;
    height: 50px;
    }
    
   
    /* fim do menu */

    /* Home notebook*/

        .banner{
            height: 100vh;
            background-image:
                url("../img/banner.png");
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            background-attachment: scroll;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .titulo_banner{
            font-size: 50pt;
        }
        
        .botao_banner{
            background-color: #800000 !important;
            color: #fff !important;
        }

        .servicos{
            height: 80vh;
            background-image: linear-gradient(rgb(255, 255, 255),
                rgb(255, 255, 255)),
                url("../img/banner_middle.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

            /* Linha residencial */

             .residencial {
            float:;
             }
             .residencial img{
             width: 400px;
             height: 250px;
             }
        
            /* Linha comercial */

            .comercial {
                float:;
            }
            .comercial img{
            width: 400px;
            height: 250px;
            }
        
            /* Linha industrial */

            .industrial {
                float:;
            }
            .industrial img{
            width: 400px;
            height: 250px;
            }
                
  /* rodape */

        .rodape{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;  /* tamanho do preto*/
            background-color: rgb(0, 0, 0);   /* cor de fundo*/
        }
    
        .face {
            float: center;
        }
        .face img{
        width: 20px;
        height: 20px;
        }
        
        .insta {
            float: center;
        }
        .insta img{
        width: 20px;
        height: 20px;
        }
        .whats {
            float: center;
        }
        .whats img{
        width: 20px;
        height: 20px;
        }

        /* escrito*/
        .rodape p{
            font-size: 10pt;
            color: rgb(255, 255, 255);
        }


        .artscom_rodape{
            text-transform: uppercase;
            font-size: 20pt;
        }

        /* Fim do css Home */


        /* Pagina sobre */

        .banner_about{
            height: 80vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
                url("../img/banner_about.jpg");
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .titulo_banner_about{
            font-size: 50pt;
        }

        /* Fim pagina sobre */
  }